RewriteEngine On
RewriteBase /lelang_bkkjtg/api/

# RewriteBase /api/

# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^([^/]+)/?$ index.php?request=$1 [L,QSA]

# RewriteEngine On

# Jika file/folder tidak ada, teruskan ke index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?request=$1 [QSA,L]



